{% extends 'main.html' %}

{% block detail %}
<form action="/profile/{{ user.username }}/detail/" method="post">
  {% csrf_token %}
  {{ user.username }}
  {{ user_form.as_p }}
  {{ profile_form.as_p }}
  <button type="submit">Сохранить изменения</button>
</form>
{% endblock %}