{% extends 'main.html' %}

{% block login %}
    <div>
        <form action="/auth/login/" method="post">
            {% csrf_token %}
            <p><label for="username">Имя пользователя: </label>
                <input type="text" style="width:500px" name="username" id="username"></p>
            <p><label for="password"> Пароль: </label>
                <input type="text" style="width:500px" name="password" id="password"></p>
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
            <input type="submit" class="button" value="Войти">
                <div class="button"><a href="/auth/register/">Регистрация</a></div>
        </form>
    </div>
{% endblock %}